
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Goals</title>
</head>
<body>
<h1>Goals</h1>
<form action="/submit_goals" method="post">
<label for="activity_goal">Activity Goal:</label>
<input type="text" name="activity_goal" id="activity_goal">
<br>
<label for="sleep_goal">Sleep Goal:</label>
<input type="text" name="sleep_goal" id="sleep_goal">
<br>
<label for="heart_goal">Heart Rate Goal:</label>
<input type="text" name="heart_goal" id="heart_goal">
<br>
<input type="submit" value="Submit">
</form>
</body>
</html>

